In [3]:
print("Hello Welcome to the world of analytics with Analytics with Anand")

Hello Welcome to the world of analytics with Analytics with Anand

In [8]:
print("Hello Welcome to the world of analytics with Analytics with Anand:)

SyntaxError: unterminated string literal (detected at line 1) (3063237299.py, line 1)

In [4]:
print(7+9)

16

In [10]:
print(7+9)
print("Hello Welcome to the world of analytics with Analytics with Anand:)
print("Hello Prachi")

SyntaxError: unterminated string literal (detected at line 2) (3606049562.py, line 2)

In [11]:
num1 = 10

In [12]:
print(num1 + 6)

16

In [13]:
print(10+10+56+89+0)

165

In [14]:
print(num1)

10

<h1>Rules of Variable declaration</h1>

1)cannot start with number 0-9,can start with _ or char A-Z or a-z
2)cannot use specialial char excel _
3)cannot contain space in between
4)cannot use keywords as a variable name

In [16]:
1name = 'prachi'

SyntaxError: invalid decimal literal (3726087626.py, line 1)

In [17]:
first_name = 'prachi'

In [18]:
first-name ='prachi'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (913289980.py, line 1)

In [19]:
_fisrt_name ='prachi'

In [20]:
first name = 'prachi'

SyntaxError: invalid syntax (597300293.py, line 1)

In [24]:

#variable example

FirstName = 'Prachi'
firstname ='Prachi'
_firstname ='Prachi'
first_name = 'prachi'
First_Name = 'prachi'
Firstname = 'Prachi'
Firstname10= 'parchi'

In [25]:
#raise = "prachi"

In [ ]:
ctrl + /