In [1]:
l = [1, 2, 35, 67, {"a": 45, "b": 78, "c": {90, 20, 45}}, (12, "prachi", 9022), {67, "Anand", 89},
[12, "r",
909]]

In [19]:
l3=[]

for i in l:
    if type(i) in [list,set,tuple]:
        for j in i:
            l3.append(j)
    elif type(i) == dict:
        for k,v in i.items():
            l3.append(k)
            if type(v) in [list,set,tuple]:
                for h in v:
                    l3.append(h)

    else:
        l3.append(i)

print(l3)

[1, 2, 35, 67, 'a', 'b', 'c', 90, 20, 45, 12, 'prachi', 9022, 89, 67, 'Anand', 12, 'r', 909]

In [3]:
l2 = []
for i in l:
    if type(i) == str:
        l2.append(i)
print(l2)

[]

In [11]:
#
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)
    elif type(i) == tuple or type(i) == set or type(i)==list:
        for j in i:
            if type(j) == int:
                l1.append(j)
    elif type(i) == dict:
        for k,v in i.items():
            if type(v)==int:
                l1.append(v)
            elif type(v) in [list,tuple,set]:
                for h in v:
                    l1.append(h)
            elif type(k) == int:
                l1.append(k)
        

print(l1)

[1, 2, 35, 67, 45, 78, 90, 20, 45, 12, 9022, 89, 67, 12, 909]

In [10]:
listt=[]
for i in l:
    if type(i)==int:
        listt.append(i)
    elif type(i)==dict:
        for k,v in i.items():
            if type(k)==int:
                listt.append(k)
            elif type(v)==int:
                listt.append(v)
            elif type(v) in [list, tuple, set]:
                for j in v:
                    if type(j) == int:
                        listt.append(j)
    elif type(i) in [list, tuple, set]:
        for j in i:
            if type(j) == int:
                listt.append(j)
print(listt)

[1, 2, 35, 67, 45, 78, 90, 20, 45, 12, 9022, 89, 67, 12, 909]

In [8]:
#
l2 = []
for i in l:
    if type(i) == str:
        l2.append(i)
    elif type(i) == tuple or type(i) == set or type(i)==list:
        for j in i:
            if type(j) == str:
                l2.append(j)
    elif type(i) == dict:
        for k,v in i.items():
            if type(v)==str:
                l2.append(v)
            elif type(k) == str:
                l2.append(k)
        

print(l2)

['a', 'b', 'c', 'prachi', 'Anand', 'r']

In [20]:
type(print())

NoneType

In [33]:
def addition():
    a = 10
    b = 20
    print(a+b)

In [29]:
def addition():
    a = 10
    b = 20
    return a+b

In [34]:
#type(addition())

sum = addition()
print(sum)

a = 5 + sum

30
None

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [32]:
a

35

In [23]:
def greet():
    print("Welcome to the world of analytics")

In [25]:
type(greet())

Welcome to the world of analytics

NoneType

In [35]:
name = "Shalinee"
print(f"My name is {name}")

My name is Shalinee

In [39]:
def Create_greet(name):
    return f" My name is {name}"

In [40]:
Create_greet("prachi")

' My name is prachi'

In [41]:
Create_greet("Ashutosh")

' My name is Ashutosh'

In [42]:
Create_greet("Ayush")

' My name is Ayush'

In [43]:
Create_greet(name = "Aditi")

' My name is Aditi'

In [44]:
Create_greet(test = "Aditi")

TypeError: Create_greet() got an unexpected keyword argument 'test'

In [51]:
def add(num1,num2=30):
    return f"{num1} and {num2} is {num1+num2}"

In [48]:
add(10,20)

'10 and 20 is 30'

In [49]:
add(10,20,30)

TypeError: add() takes 2 positional arguments but 3 were given

In [52]:
add(10)

'10 and 30 is 40'

In [53]:
add(20,40)

'20 and 40 is 60'

In [54]:
def greeting(greet,name):
    return f"Hello {name}!,{greet}"

In [55]:
greeting("Shalinee","Good afternoon")

'Hello Good afternoon!,Shalinee'

In [57]:
greeting(name="Shalinee",greet="Good afternoon")

'Hello Shalinee!,Good afternoon'

In [ ]:
Calculate GST for multiple orders.

In [58]:
def gst_calculator(order_value):
    gst = order_value+(order_value*18)/100
    return gst
    
a = gst_calculator(100)
print(a)

118.0

In [59]:
def validate_user(email,pswd):
    return email == "abc@gmail.com" and pswd == "1234"

In [62]:
def login():
    if validate_user("ac@gmail.com","1234"):
        return "login successfull!"
    return "Invalid credetials"

In [63]:
login()

'Invalid credetials'

In [68]:
def family(**person_detail):
    for k,v in person_detail.items():
        print(f"{k} : {v}")

In [69]:
family(name="Naman",Age=24,City = "Mumbai")

name : Naman
Age : 24
City : Mumbai

In [70]:
def family(**person_detail):
    result =[]
    for k,v in person_detail.items():
        result.append(f"{k} : {v}")
    return ", ".join(result)

In [71]:
family(name="Naman",Age=24,City = "Mumbai")

'name : Naman, Age : 24, City : Mumbai'

In [72]:
def family(**person_detail):
   return person_detail

In [73]:
family(name="Naman",Age=24,City = "Mumbai")

{'name': 'Naman', 'Age': 24, 'City': 'Mumbai'}

In [74]:
def family(**person_detail):
    result =[]
    for k,v in person_detail.items():
        result.append(f"{k} : {v}")
    return result

In [75]:
family(name="Naman",Age=24,City = "Mumbai")

['name : Naman', 'Age : 24', 'City : Mumbai']

In [76]:
def toatl_bill(name,*prices):
    total = 0
    for i in prices:
        total += i

    return name,total

In [77]:
toatl_bill("Anupam",12,10,30,40,50)

('Anupam', 142)

In [79]:
def toatl_bill(name,*prices,**kwargs):
    total = 0
    for i in prices:
        total += i

    return name,total,kwargs

In [80]:
toatl_bill("Anupam",12,10,30,40,50,Billing_address="abc",contact="123456789")

('Anupam', 142, {'Billing_address': 'abc', 'contact': '123456789'})

In [81]:
toatl_bill("Anupam",Billing_address="abc",contact="123456789",12,10,30,40,50)

SyntaxError: positional argument follows keyword argument (2891807911.py, line 1)

In [2]:
def add():
    num1= 10
    num2= 15
    return num1+num2

sum = num1+num2
print(sum)

NameError: name 'num1' is not defined

In [88]:
add()

25

In [3]:
num1 = 10
num2 = 20
def add():
    return num1+num2
sum = num1+num2
print(sum)

30

In [4]:
add()

30

In [5]:
num1 = 10
num2 = 20
def add():
    num1,num2=30,40
    return num1+num2
sum = num1+num2
print(sum)

30

In [6]:
add()

70

In [14]:
num1 = 10
num2 = 20
def add():
    global num1
    global num2
    num1,num2=30,40
    return num1+num2
# add = add()
# print(add)
# sum = num1+num2
# print(sum)

30

In [15]:
sum = num1+num2
print(sum)

30

In [16]:
add = add()
print(add)

70

In [17]:
sum = num1+num2
print(sum)

70

In [18]:
num1

30

In [19]:
num2

40

In [32]:
def outer():
    x = "outer"
    def inner():
        x = "inner"
        print(x)
    inner()
    print(x)

In [33]:
outer()

inner
outer

In [44]:

def outer():
    x = "outer"
    def inner():
        global x
        x = "inner"
        print(x)
    inner()
    print(x)

In [45]:
outer()

inner
outer

In [46]:
print(x)

inner

In [47]:
#create a function to check the number is prime or not 


def prime(n):
    if n<=1:
        return False
    for i in range(2, n):
        if n%i==0:
            return False
    return True

In [48]:
prime(9)

False

In [49]:
prime(25)

False

In [50]:
prime(13)

True

In [56]:
n = int(input("Enter the number: "))
if n <= 1:
    print(False)
else:
    is_prime = True  # Flag variable
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            is_prime = False
            break
    print(is_prime)

Enter the number:  17

True